.logo {
    display: flex;
    justify-content: center;
    background-color: #26A2BD;

}

.lead{
    font-size: 16pt;
    margin-top: 5px;
}


.titulo {
    font-size: 20pt;
    text-transform: uppercase ;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    transition: transform 1s ease-out;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.titulo:hover {
    transform: scale(1.3);
  }

.text-muted {
    text-decoration: none;
    margin-right: 8px;
}

.btn-dark {
    background-color: #26A2BD;
    border: none;
}

